body {
    margin: 0;
    padding: 0;
    background-color: #fdf6e7;
    color: #3f4455;
    font-family: 'Prata', serif;
    
  }

  .wrapper {
    width: 1200px;
    height: 100%;
    margin: auto;
    background-color: #76885F;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .wrap-container {
    width: 100%;
    height: 100%;

    margin-top: 140px;
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .img-container {
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 200px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

  }

  img {
    height: 100%;
    width: 30%;
  }

  .slogan {
    color: #fafafa;
    font-size: 24px;
    letter-spacing: 1px;
    font-family: 'Prata', serif;
  }
  
  .cta {
    font-weight: lighter;
    padding-right: 70px;
    padding-left: 70px;
    letter-spacing: .8px;
    line-height: 20px;
    color: #505050;
  }
  
  .btn-container {
    margin-top: 60px;
  }
  
  .answer-input {
    background: #fafafa;
    font-size: 12px;
    padding: 10px;
    border: none;
    color: #66d7b2;
    border-bottom: solid 2px #5c5858;
    transition: border 0.3s;
  }
  
  input:focus::-webkit-input-placeholder {
    opacity: 0;
  }
  
  .answer-input:focus {
    outline: none;
    border-bottom: solid 2px #66d7b2;
  }
  
  .direction {
    font-weight: lighter;
    font-size: 10px;
    color: #aaabac;
    text-align: center;
    margin-top: auto;
    border-radius: 3px;
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:  none;
    padding: 5px 32px 5px 32px;
    letter-spacing: 1.2px;
    transition: 0.3s;
  }
  .direction:hover {
    color: #3f4455;
    font-weight: normal;
  }
  .output {
    color: #6a6f82;
  }
  