body {
  margin: 0;
  padding: 0;

  background-color: #fdf6e7;
  color: #3f4455;

  /* google fonts */
  font-family: 'Prata', serif;
}

.wrapper {
  width: 940px;
  height: 100%;

  margin: auto;
  margin-top: 140px;
  border-radius: 3px;
  background-color: #8c4b24;
  /* #76885F #244a3c #8c4b24 */ 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrap-container {
  width: 100%;
  height: 100%;

  margin: auto;
  padding-top: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-container {
  width: 30%;
  height: 60%;

  margin: auto;
  margin-top: 40px;
  padding-bottom: 140px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.image-pulse {
  max-height: 278px;
  min-width: 300px;

  position: absolute;

  /* animate.style library used */
  animation: pulse;
  animation-duration: 6s;
}

.image-still {
  position: relative;
  width: 303px;
}

.slogan {
  color: #fdf6e7;
  font-size: 24px;
  font-family: 'Prata', serif;
  letter-spacing: 1px;
}
